/* .public-panel .form-panel{padding-top:45px;}
	.public-panel .form-group .input-block{padding:11px 0;}
	.public-panel .form-group .input-block .form-control{color:#777;height:37px;border:1px solid #939393;} */
	/* ,.public-panel .form-group */.public-panel{display:table;margin-left:auto;margin-right:auto;padding-top:50px;padding-bottom:50px;}