<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.ttms.product.dao.ProjectDao">
     <!-- 定义一个查询操作 -->
     <select id="findObjects" 
       resultType="cn.tedu.ttms.product.entity.Project">
       select * 
       from tms_projects
       <where>
          <if test='name!=null and name!=""'>
             and name like concat("%",#{name},"%") 
          </if>
          <if test="valid!=null">
             and valid=#{valid}
          </if>
       </where>
       order by createdTime desc
       limit #{startIndex},#{pageSize};
     </select>
     <!-- 查询表中总记录数(要根据此数据计算总页数) -->
     <select id="getRowCount" 
          resultType="java.lang.Integer">
          select count(*) 
          from tms_projects
         <where>
           <if test='name!=null and name!=""'>
             and name like concat("%",#{name},"%") 
           </if>
           <if test="valid!=null">
             and valid=#{valid}
           </if>
         </where>
     </select>
     <insert id="insertObject" 
       parameterType="cn.tedu.ttms.product.entity.Project">
       insert into tms_projects(
       id,
       name,
       code,
       beginDate,
       endDate,
       valid,
       note,
       createdTime,
       modifiedTime,
       createdUser,
       modifiedUser
       )values(
       #{id},
       #{name},
       #{code},
       #{beginDate},
       #{endDate},
       #{valid},
       #{note},
       NOW(),
       NOW(),
       #{createdUser},
       #{modifiedUser}
       );
     </insert>
</mapper> 